main {
  width: 1366px;
  height: 750px;
  display: flex;
  flex-direction: column;
  background: url('../dist/layout_add.png');
}

header {
  height: 50px;
  padding: 0 38px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #8a246c, #c20051);
}

.header__app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__app--logo {
  width: 39px;
  height: 39px;
  margin: 0 16px 0 0;
}

.header__app--name {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.header__user {
  display: flex;
  align-items: center;
}

.header__user--name {
  margin: 0 4px 0 0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.header__user--avatar {
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 100%;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
}

section {
  height: 622px;
  margin: 40px 40px 0 40px;
  display: flex;
  justify-content: space-between;
}

.content__box {
  border-radius: 12px;
  box-shadow: 0 0 12px 4px rgba(155, 155, 155, 0.8);
}

.content__box--title {
  height: 78px;
  padding: 0 20px 0 32px;
  border-bottom: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__title {
  font-size: 22px;
  font-weight: 700;
  color: #533584;
}

.my-teams {
  width: 620px;
  height: 622px;
  border-radius: 12px 12px 0 0;
  background: #fff;
}

.my-teams__button-add {
  width: 37px;
  height: 37px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #ab3977, #7f387e);
  font-size: 32px;
  text-align: center;
  line-height: 37px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.my-teams__button-add:hover {
  background: linear-gradient(to bottom, #7f387e, #ab3977);
  box-shadow: 0 0 4px 4px rgba(171, 57, 119, 0.4);
  transition: background 0.25s, box-shadow 0.25s;
}

.list-teams {
  margin: 28px 8px 0;
  font-size: 13px;
  background: #fff;
}

.list-teams__title,
.list-teams__item {
  height: 49px;
  display: grid;
  grid-template-columns: 1fr 2.5fr 0.5fr;
  align-items: center;
  padding: 0 12px 0 24px;
  border-bottom: 1px solid #ededed;
  font-weight: 600;
}

.list-teams__title {
  height: 34px;
  margin: 0 0 14px 0;
  border: 0;
}

.list-teams__item:hover {
  border-radius: 6px;
  background: #f7eef6;
  border-bottom: 1px solid #fff;
  transition: background 0.25s;
  color: #b23c79;
  cursor: pointer;
}

.list-teams__icons {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.top-5-picked-player {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.top-5 {
  width: 620px;
  height: 354px;
  background: #fff;
}

.top-5__list {
  margin: 20px 22px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.top-5__box {
  width: 278px;
}

.top-5__box--title {
  margin: 0 0 10px 0;
}

.top-5__title {
  font-size: 13px;
}

.top-5__average--list {
  height: 204px;
  border-radius: 8px;
  background: #e6e0e5;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.top__average--item {
  height: 35px;
  margin: 4px;
  padding: 0 18px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.top__average--item:hover {
  border: 1px solid #c80045;
  transition: border 0.25s;
}

.picked-player {
  height: 248px;
  border-radius: 12px 12px 0 0;
  background: linear-gradient(to bottom, #bf3b78, #703882);
  display: flex;
  justify-content: space-between;
}

.picked-player__item {
  width: 50%;
  margin: 36px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picked-player__title {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.picked-player__info {
  display: flex;
}

.circle-image__dashed {
  border: 2px dashed #ae87c4;
  border-radius: 50%;
}

.circle-image__round {
  width: 120px;
  height: 120px;
  margin: 5px;
  background: #fff;
  border-radius: 50%;
  border: 4px solid #a40060;
}

.half-field__line {
  height: 100%;
  border-left: 1px solid
}

.half-field__circle {
  border: 1px solid #ccc;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: calc(50% + 96px);
  margin-left: calc(50% - 27px);
}

.picked-player__percent {
  font-weight: 600;
  color: #fff;
}

footer {
  width: 100%;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e8e2e8;
  font-size: 12px;
}
